<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a757718d4fd94409b538400772de1a78 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a757718d4fd94409b538400772de1a78" ></div>
        
</body>
<script>    
    
            var map_a757718d4fd94409b538400772de1a78 = L.map(
                "map_a757718d4fd94409b538400772de1a78",
                {
                    center: [52.3496875, 5.200056625],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );
            L.control.scale().addTo(map_a757718d4fd94409b538400772de1a78);

            

        
    
            var tile_layer_35b774749d2248689678be1fb4e7e90a = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a757718d4fd94409b538400772de1a78);
        
    
            var marker_aefb41d468014e6fb12474b457cea6a9 = L.marker(
                [52.351283, 5.211176],
                {}
            ).addTo(map_a757718d4fd94409b538400772de1a78);
        
    
        var popup_fb6500c9a7714e48a3a9a809e206f226 = L.popup({"maxWidth": "100%"});

        
            var html_22cdb1044e22459f8174f3bf36d68a17 = $(`<div id="html_22cdb1044e22459f8174f3bf36d68a17" style="width: 100.0%; height: 100.0%;">2</div>`)[0];
            popup_fb6500c9a7714e48a3a9a809e206f226.setContent(html_22cdb1044e22459f8174f3bf36d68a17);
        

        marker_aefb41d468014e6fb12474b457cea6a9.bindPopup(popup_fb6500c9a7714e48a3a9a809e206f226)
        ;

        
    
    
            var marker_e9e46effc6ff4ae9902f59b17ae639f5 = L.marker(
                [52.3483, 5.209304],
                {}
            ).addTo(map_a757718d4fd94409b538400772de1a78);
        
    
        var popup_381110f46d0b43fdbd22607986a385ec = L.popup({"maxWidth": "100%"});

        
            var html_02905548c79242ae8846e2a3cbfbdc2d = $(`<div id="html_02905548c79242ae8846e2a3cbfbdc2d" style="width: 100.0%; height: 100.0%;">4</div>`)[0];
            popup_381110f46d0b43fdbd22607986a385ec.setContent(html_02905548c79242ae8846e2a3cbfbdc2d);
        

        marker_e9e46effc6ff4ae9902f59b17ae639f5.bindPopup(popup_381110f46d0b43fdbd22607986a385ec)
        ;

        
    
    
            var marker_afdf4755964f493ba64a454d35030011 = L.marker(
                [52.346763, 5.204852],
                {}
            ).addTo(map_a757718d4fd94409b538400772de1a78);
        
    
        var popup_ea5b3afb7e4b47c9ba11ec088f8ba0a2 = L.popup({"maxWidth": "100%"});

        
            var html_1162a2f0e8d94ad5912b74c7e5c3f466 = $(`<div id="html_1162a2f0e8d94ad5912b74c7e5c3f466" style="width: 100.0%; height: 100.0%;">5</div>`)[0];
            popup_ea5b3afb7e4b47c9ba11ec088f8ba0a2.setContent(html_1162a2f0e8d94ad5912b74c7e5c3f466);
        

        marker_afdf4755964f493ba64a454d35030011.bindPopup(popup_ea5b3afb7e4b47c9ba11ec088f8ba0a2)
        ;

        
    
    
            var marker_fcd5d09e14824556b4b8d479cc5f49f1 = L.marker(
                [52.348643, 5.202825],
                {}
            ).addTo(map_a757718d4fd94409b538400772de1a78);
        
    
        var popup_90c8d8edec5b494caf2b9f66264cca8e = L.popup({"maxWidth": "100%"});

        
            var html_0ff075f312044acaa66a7d8d76a88914 = $(`<div id="html_0ff075f312044acaa66a7d8d76a88914" style="width: 100.0%; height: 100.0%;">6</div>`)[0];
            popup_90c8d8edec5b494caf2b9f66264cca8e.setContent(html_0ff075f312044acaa66a7d8d76a88914);
        

        marker_fcd5d09e14824556b4b8d479cc5f49f1.bindPopup(popup_90c8d8edec5b494caf2b9f66264cca8e)
        ;

        
    
    
            var marker_480a35970256433f8ff0d7d745f9bde7 = L.marker(
                [52.355552, 5.204296],
                {}
            ).addTo(map_a757718d4fd94409b538400772de1a78);
        
    
        var popup_f0af3fcd41504e69bb83e39b0741a7aa = L.popup({"maxWidth": "100%"});

        
            var html_571e5289b5f84e31bcf58b00c951e029 = $(`<div id="html_571e5289b5f84e31bcf58b00c951e029" style="width: 100.0%; height: 100.0%;">8</div>`)[0];
            popup_f0af3fcd41504e69bb83e39b0741a7aa.setContent(html_571e5289b5f84e31bcf58b00c951e029);
        

        marker_480a35970256433f8ff0d7d745f9bde7.bindPopup(popup_f0af3fcd41504e69bb83e39b0741a7aa)
        ;

        
    
    
            var marker_dae10b0b8ae6433d80b887560a04b7bd = L.marker(
                [52.353982, 5.194888],
                {}
            ).addTo(map_a757718d4fd94409b538400772de1a78);
        
    
        var popup_ad69afed7c0b490787f81380ad3498c2 = L.popup({"maxWidth": "100%"});

        
            var html_0955d7d7071546f6b0c5657002833e24 = $(`<div id="html_0955d7d7071546f6b0c5657002833e24" style="width: 100.0%; height: 100.0%;">9</div>`)[0];
            popup_ad69afed7c0b490787f81380ad3498c2.setContent(html_0955d7d7071546f6b0c5657002833e24);
        

        marker_dae10b0b8ae6433d80b887560a04b7bd.bindPopup(popup_ad69afed7c0b490787f81380ad3498c2)
        ;

        
    
    
            var marker_a786b24518134ab59c2de437b3e8471f = L.marker(
                [52.350495, 5.196093],
                {}
            ).addTo(map_a757718d4fd94409b538400772de1a78);
        
    
        var popup_728108c160204845a00e86a71a1989dd = L.popup({"maxWidth": "100%"});

        
            var html_e98da304d142467f846a2f65fa6c143a = $(`<div id="html_e98da304d142467f846a2f65fa6c143a" style="width: 100.0%; height: 100.0%;">11</div>`)[0];
            popup_728108c160204845a00e86a71a1989dd.setContent(html_e98da304d142467f846a2f65fa6c143a);
        

        marker_a786b24518134ab59c2de437b3e8471f.bindPopup(popup_728108c160204845a00e86a71a1989dd)
        ;

        
    
    
            var marker_bfd809bd30e64ae1b27d0dc84e7944bb = L.marker(
                [52.342482, 5.177019],
                {}
            ).addTo(map_a757718d4fd94409b538400772de1a78);
        
    
        var popup_1e5e073802994d899f1353e5af3ea23a = L.popup({"maxWidth": "100%"});

        
            var html_8d3ebffbbb004a36b35f4589b9bd0ec4 = $(`<div id="html_8d3ebffbbb004a36b35f4589b9bd0ec4" style="width: 100.0%; height: 100.0%;">12</div>`)[0];
            popup_1e5e073802994d899f1353e5af3ea23a.setContent(html_8d3ebffbbb004a36b35f4589b9bd0ec4);
        

        marker_bfd809bd30e64ae1b27d0dc84e7944bb.bindPopup(popup_1e5e073802994d899f1353e5af3ea23a)
        ;

        
    
</script>